.faq-container {
    background-color: var(--neutral-base);
    border-radius: 16px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
}


.faq-container__header {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.faq-container__accordion {
    display: flex;
    flex-direction: column;
}

.faq-container__accordion__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top: 1px solid var(--primary-bg-neutral);
    padding: 8px 0;
}

.faq-container__accordion__item__header {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 56px;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 700;
    cursor: pointer;
    padding-right: 72px;
    text-align: start;
    font-size: 1rem;
    line-height: 1.5rem;
}

.faq-container__accordion__item__header:hover,
.faq-container__accordion__item__header:focus {
    color: var(--primary-base)
}

.faq-container__accordion__item__header img {
    position: absolute;
    right: 0;
    width: 32px;
    height: 32px;
}

.faq-container__accordion__item__content,
.faq-container__accordion__item__header__hide__icon {
    display: none;
}

.faq-container__accordion__item--active .faq-container__accordion__item__content {
    display: block;
}

.faq-container__accordion__item--active .faq-container__accordion__item__header__hide__icon {
    display: block;
}

@media(max-width: 768px) {
    .faq-container {
        width: calc(100% - 56px);
        padding: 24px 24px 8px 24px;
    }
}

@media(min-width: 768px) {
    .faq-container {
        width: 576px;
        padding: 32px 32px 16px 32px;
    }
}