.faq-container {
    background-color: var(--neutral-base);
    border-radius: 12px;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 20vh;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-container__header {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.faq-container__accordion {
    display: flex;
    flex-direction: column;
}

.faq-container__accordion__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top: 1px solid var(--primary-neutral);
    padding: 8px 0;
}

.faq-container__accordion__item__header {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.faq-container__accordion__item__header img {
    position: absolute;
    right: 0;
    width: 24px;
    height: 24px;
}

.faq-container__accordion__item__content,
.faq-container__accordion__item__header__hide__icon {
    display: none;
}

.faq-container__accordion__item--active .faq-container__accordion__item__content {
    display: block;
}

.faq-container__accordion__item--active .faq-container__accordion__item__header__hide__icon {
    display: block;
}